<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.richardprj.mapper.boardMapper">
	
	<select id="selectPostList" parameterType="postVO" resultType="postVO">

		select 
			a.boardId,
			a.postNo,
			max(a.postTitle) postTitle,
			a.writer,
			a.modDate,
			a.readCnt, 
			ifnull(sum(b.replyNo), 0) as replyCnt,
			ifnull(sum(c.likeNo), 0) as recommendCnt
		from post a 
		left outer join reply b on (a.boardId = b.boardId and a.postNo = b.postNo)
		left outer join recommend c on (a.boardId = b.boardId and c.postNo = c.postNo)
		where a.boardId = #{boardId}
		group by a.boardId, a.postNo, a.writer, a.modDate, a.readCnt
		order by postNo
		LIMIT #{pagination.startList}, #{pagination.listSize}

	</select>


	<select id="selectPostListCnt" parameterType="postVO" resultType="int">
		SELECT count(*) from post
		where boardId = #{boardId}
	</select>
	
	
	<insert id="registerMember" parameterType="memberVO">

	</insert>

	<select id="selectMembers" parameterType="memberVO" resultType="memberVO">
		SELECT *
		FROM MEMBER
		WHERE 1 = 1
		<choose>
			<when test="mbrid != '' and mbrid != null">
				AND mbrid = #{mbrid}
			</when>
		</choose>
	</select>
	
</mapper>