<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.richardprj.mapper.fileMapper">


	<select id="selectFile" parameterType="fileVO"  resultType="fileVO">
		SELECT * form file
	</select>
	
	
	<insert id="insertFileInfo" parameterType="fileVO">
	 
		INSERT INTO FILE ( 
			 boardIdx        
			 ,originalFileName
			 ,storedFileName  
			 ,fileSize        
			 ,createDtm       
			 ,creatorId       
			 ,downCnt       
			 ,delYn   
		)VALUES( 
			#{boardIdx},
			#{originalFileName},
			#{storedFileName},
			#{fileSize},
			sysdate(),
			#{creatorId},
			#{downCnt},
			#{delYn}
		)
	</insert>

	<select id="selectFileInfo" parameterType="fileVO" resultType="fileVO">
		SELECT *
		FROM FILE
		<choose>
			<when test="idx != '' and idx != null">
				WHERE idx = #{idx}
			</when>
		</choose>
	</select>
	
	<update id="updateFileInfo" parameterType="fileVO">
	 
		UPDATE FILE SET  
			 boardIdx = #{boardIdx},      
			 originalFileName = #{originalFileName},
			 storedFileName =   #{storedFileName},
			 fileSize  = #{fileSize},     
			 creatorId = #{creatorId},   
			 downCnt = #{downCnt}, 
			 delYn =  #{delYn}
		WHERE idx = #{idx}
	</update>
	
	<update id="increaseDownCnt" parameterType="fileVO">
		UPDATE FILE SET  
			 DOWNCNT =  DOWNCNT + 1
		WHERE idx = #{idx}
	</update>
	
</mapper>