<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=devide-width, initial-scale=1.0">
<title>index</title>
<link rel="stylesheet" href="../../resources/css/customized/reset.css">
<link rel="stylesheet" href="../../resources/css/customized/style.css">
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="quick">
                <a href="#">Design Cafe</a>
                <a href="#">Publisher Cafe</a>
            </div>
            <div class="title">
                <p>Professional Web Publisher</p>
                <h1><a ref="#">richard.co.kr</a></h1>
            </div>
            <div class="icon">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>

    </header>

</body>
</html> 